@page
@model BookStoreCore.Pages.SecretsManager.IndexModel

@{
    ViewData["Title"] = "Secrets";
}

<div>
    <h1>Secrets Manager</h1>

    <p>The following are secrets manager values included in the application.</p>

    <p>There is a cache expiry of <strong>@Model.Configuration.SecretsCacheExpiry</strong> milliseconds.</p>

    <p>Therefore, if you change a value in Secrets Manager, it will take that long to refresh.</p>
</div>
    
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Secret</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>System User</td>
                <td>@Model.SystemUserName</td>
            </tr>
            <tr>
                <td>System Password</td>
                <td>@Model.SystemPassword</td>
            </tr>
            <tr>
            <td>ApiKey</td>
            <td>@Model.SystemApiKey</td>
            </tr>
             
                
            </tbody>
        </table>



